USE [COST_MANAGEMENT]
GO
/****** Object:  Table [dbo].[BaoGia_Confirm_Name_Quotation]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_Confirm_Name_Quotation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_RequestQuote] [int] NOT NULL,
	[VCHR_UserShip] [nvarchar](50) NULL,
	[VCHR_UserAcc] [varchar](20) NULL,
	[VCHR_MaHangNoiBo] [varchar](50) NULL,
	[VCHR_TenHaiQuan] [nvarchar](500) NULL,
	[DTM_Send] [datetime] NULL,
	[DTM_UserShip] [datetime] NULL,
	[DTM_UserAcc] [datetime] NULL,
	[DTM_CreateDate] [datetime] NOT NULL,
	[VCHR_CreateBy] [varchar](20) NOT NULL,
	[DTM_UpdateDate] [datetime] NULL,
	[VCHR_UpdateBy] [varchar](20) NULL,
	[CHR_Status] [varchar](25) NOT NULL,
	[VCHR_UserPUR] [varchar](20) NULL,
	[DTM_UserPUR] [datetime] NULL,
	[NVCHR_LyDo] [nvarchar](300) NULL,
	[NVCHR_Note] [nvarchar](500) NULL,
	[VCHR_TenRecomment] [nvarchar](1200) NULL,
	[CHR_StatusShip] [varchar](50) NULL,
	[CHR_StatusACC] [varchar](50) NULL,
	[CHR_NameEN] [varchar](650) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_Confirm_Name_Quotation_History]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_Confirm_Name_Quotation_History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuotationID] [int] NOT NULL,
	[ConfirmID] [int] NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ActionBy] [varchar](100) NULL,
	[ActionDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_Detail_of_Quotation]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_Detail_of_Quotation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_RequestQuote] [int] NOT NULL,
	[CHR_CodeNCC] [varchar](150) NOT NULL,
	[NVCHR_NameNCC] [nvarchar](250) NOT NULL,
	[CHR_MaHangNCC] [nvarchar](250) NOT NULL,
	[NVCHR_TenHangHQ] [nvarchar](1200) NULL,
	[FL_USD] [float] NULL,
	[FL_VND] [float] NULL,
	[DTM_EndDate] [datetime] NULL,
	[NVCHR_MOQ] [nvarchar](350) NULL,
	[DTM_LeadTime] [varchar](50) NULL,
	[DTM_ShipTime] [datetime] NULL,
	[NVCHR_Packing] [nvarchar](350) NULL,
	[BIT_Commit] [bit] NULL,
	[NVCHR_Note] [nvarchar](550) NULL,
	[NVCHR_File] [nvarchar](500) NULL,
	[DTM_CreateDate] [datetime] NOT NULL,
	[CHR_CreateBy] [varchar](50) NOT NULL,
	[DTM_UpdateDate] [datetime] NULL,
	[CHR_UpdateBy] [varchar](50) NULL,
	[FL_Sum] [float] NULL,
	[BIT_Select] [bit] NULL,
	[NVCHR_ReasonPick] [nvarchar](500) NULL,
	[CHR_Status] [nvarchar](150) NULL,
	[INT_NumberEdit] [int] NULL,
	[NVCHR_dataOld] [nvarchar](max) NULL,
	[NVCHR_dataNew] [nvarchar](max) NULL,
	[FL_ExchangeRate] [float] NULL,
	[FL_TaxRate] [float] NULL,
	[FL_TaxAmount] [float] NULL,
	[FL_TotalAfterTax] [float] NULL,
	[NVCHR_PaymentTerm] [nvarchar](500) NULL,
	[NVCHR_Warranty] [nvarchar](500) NULL,
	[NVCHR_DeliveryTerm] [nvarchar](500) NULL,
	[VCHR_Rohs] [varchar](50) NULL,
	[VCHR_COCQ] [varchar](50) NULL,
	[VCHR_MSDS] [varchar](50) NULL,
	[VCHR_AnToan] [varchar](50) NULL,
	[VCHR_CamKet] [nvarchar](50) NULL,
	[CHR_NameEN] [nvarchar](650) NULL,
	[INT_SoLuong] [int] NULL,
	[NVCHR_DonVi] [nvarchar](150) NULL,
	[NVCHR_NhaSanXuat] [nvarchar](250) NULL,
	[DTM_EffectiveDate] [datetime] NULL,
	[DTM_ExpiryDate] [datetime] NULL,
	[NVCHR_ReasonUpdate] [nvarchar](550) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_History_Approver_of_Quotation]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_History_Approver_of_Quotation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_RequestQuote] [int] NOT NULL,
	[ID_BaoGiaStep] [int] NOT NULL,
	[CHR_UserSendApprover] [varchar](50) NOT NULL,
	[DTM_UserSendApprover] [datetime] NOT NULL,
	[CHR_UserApprover] [varchar](50) NULL,
	[DTM_UserApprover] [datetime] NULL,
	[CHR_StatusFlag] [varchar](100) NULL,
	[BIT_SendMail] [bit] NULL,
	[NVCHR_ReturnReason] [nvarchar](500) NULL,
	[BIT_Return] [bit] NULL,
	[CHR_SectionCodeSend] [varchar](100) NULL,
	[CHR_SectionNameSend] [nvarchar](150) NULL,
	[CHR_SectionCodeApprover] [varchar](100) NULL,
	[CHR_SectionNameApprover] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_History_Detail_Request]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_History_Detail_Request](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_RQ_Detail] [int] NOT NULL,
	[NVCHR_dataOld] [nvarchar](max) NULL,
	[NVCHR_dataNew] [nvarchar](max) NULL,
	[CHR_CreateBy] [varchar](100) NULL,
	[DTM_CreateBy] [datetime] NULL,
	[NVCHR_ReasonUpdate] [nvarchar](550) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_History_Request_of_Quotation]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_History_Request_of_Quotation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_RequestQuote] [int] NOT NULL,
	[CHR_MaDon] [varchar](50) NOT NULL,
	[CHR_UpdateBy] [varchar](20) NOT NULL,
	[NVCHR_UpdateName] [nvarchar](250) NULL,
	[CHR_Updatedate] [datetime] NOT NULL,
	[CHR_ChangedColumns] [nvarchar](max) NULL,
	[CHR_OldData] [nvarchar](max) NULL,
	[CHR_NewData] [nvarchar](max) NULL,
	[NVCHR_LyDo] [nvarchar](500) NULL,
	[CHR_ActionType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_Master_Approver_Send_Mail]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_Master_Approver_Send_Mail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BaoGiaStep] [int] NULL,
	[CHR_UserAdid] [varchar](20) NULL,
	[CHR_CodeSection] [varchar](50) NULL,
	[CHR_NameSection] [varchar](50) NULL,
	[NVCHR_UserName] [nvarchar](250) NULL,
	[NVCHR_Position] [varchar](50) NULL,
	[NVCHR_StepName] [nvarchar](250) NULL,
	[CHR_CreateBy] [varchar](20) NULL,
	[CHR_CreateDate] [datetime] NULL,
	[CHR_Status] [varchar](50) NULL,
	[CHR_UpdateBy] [varchar](20) NULL,
	[CHR_UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_NCC_Category]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_NCC_Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_MaNCC] [varchar](70) NOT NULL,
	[NVCHR_TenNCC] [nvarchar](255) NOT NULL,
	[NVCHR_ChungLoai] [nvarchar](300) NULL,
	[NVCHR_SanXuat] [nvarchar](250) NULL,
	[CHR_Status] [varchar](50) NULL,
	[CHR_CreateBy] [varchar](20) NOT NULL,
	[DTM_CreateBy] [datetime] NULL,
	[CHR_PIC] [nvarchar](200) NULL,
	[CHR_Mail] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_Request_of_Quotation]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_Request_of_Quotation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BIT_IsTemplate] [bit] NOT NULL,
	[BIT_LayBaoGia] [bit] NOT NULL,
	[CHR_CreateBy] [varchar](50) NULL,
	[CHR_Gap] [varchar](250) NULL,
	[CHR_MaDon] [varchar](50) NULL,
	[CHR_MaHangNCC] [nvarchar](350) NULL,
	[CHR_MaHangNoiBo] [varchar](350) NULL,
	[CHR_MaNCC] [nvarchar](250) NULL,
	[CHR_MaThietBi] [varchar](250) NULL,
	[CHR_NameEN] [varchar](1200) NULL,
	[CHR_Phanloai] [nvarchar](250) NULL,
	[CHR_SectionCode] [varchar](100) NULL,
	[CHR_SectionName] [nvarchar](100) NULL,
	[DTM_CreateDate] [datetime] NULL,
	[DTM_Deadline] [datetime] NULL,
	[DTM_KyHan] [datetime] NULL,
	[DTM_NgayMuonNhan] [datetime] NULL,
	[DTM_UpdateLater] [datetime] NULL,
	[ID_Status] [varchar](50) NULL,
	[INT_SoLanUpdate] [int] NULL,
	[NVCHR_AnToan] [nvarchar](450) NULL,
	[NVCHR_COCQ] [nvarchar](450) NULL,
	[NVCHR_ChatLieu] [nvarchar](max) NULL,
	[NVCHR_ChungLoai] [nvarchar](max) NULL,
	[NVCHR_DonVi] [nvarchar](250) NULL,
	[NVCHR_DongMay] [nvarchar](550) NULL,
	[NVCHR_FileThietKe] [nvarchar](max) NULL,
	[NVCHR_HinhDang] [nvarchar](max) NULL,
	[NVCHR_KichThuoc] [nvarchar](550) NULL,
	[NVCHR_LyDo] [nvarchar](550) NULL,
	[NVCHR_MSDS] [nvarchar](450) NULL,
	[NVCHR_NameVN] [nvarchar](1200) NULL,
	[NVCHR_NhaSanXuat] [nvarchar](450) NULL,
	[NVCHR_Rohs] [nvarchar](450) NULL,
	[NVCHR_TenNCC] [nvarchar](550) NULL,
	[NVCHR_ThanhPhan] [nvarchar](max) NULL,
	[NVCHR_TinhNang] [nvarchar](max) NULL,
	[CHR_UserApproval] [nvarchar](20) NULL,
	[NVCHR_UserRequest] [nvarchar](200) NULL,
	[INT_SoLuong] [int] NULL,
	[ID_StepBaoGia] [int] NULL,
	[NVCHR_ReasonQuotation] [nvarchar](250) NULL,
	[CHR_LinkFile] [nvarchar](1500) NULL,
 CONSTRAINT [PK__BaoGia_R__3214EC273E3D596D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_RequestType]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_RequestType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_Code] [varchar](50) NOT NULL,
	[NVCHR_Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_RoleUser]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_RoleUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserAdid] [varchar](30) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsUsing] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_Status]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NVCHR_TenStatus] [nvarchar](250) NOT NULL,
	[CHR_CreateBy] [varchar](20) NOT NULL,
	[DTM_CreateDate] [datetime] NOT NULL,
	[CHR_Flag] [varchar](25) NOT NULL,
	[VCHR_CodeStatus] [varchar](50) NULL,
	[CHR_TenStatusJP] [nvarchar](277) NULL,
	[CHR_TenStatusEN] [nvarchar](277) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_Step]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_Step](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_StepName] [nvarchar](250) NOT NULL,
	[CHR_CreateBy] [varchar](20) NOT NULL,
	[DTM_CreateDate] [datetime] NOT NULL,
	[CHR_Note] [varchar](50) NULL,
	[CHR_Status] [varchar](50) NULL,
	[INT_StepNumber] [int] NULL,
	[CHR_StepNameEN] [nvarchar](277) NULL,
	[CHR_StepNameJP] [nvarchar](277) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_Vender_NotConfirm]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_Vender_NotConfirm](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_MaNcc] [varchar](50) NOT NULL,
	[CHR_Status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_WorkflowAudit]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_WorkflowAudit](
	[AuditID] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NULL,
	[WorkflowStepID] [int] NULL,
	[ActionCode] [varchar](50) NOT NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ChangedBy] [nvarchar](100) NOT NULL,
	[ChangedDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_BaoGia_WorkflowAudit] PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_WorkflowDefinition]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_WorkflowDefinition](
	[WorkflowID] [int] IDENTITY(1,1) NOT NULL,
	[RequestTypeID] [int] NOT NULL,
	[FlowCode] [varchar](20) NOT NULL,
	[WorkflowName] [nvarchar](300) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedDate] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_BaoGia_WorkflowDefinition] PRIMARY KEY CLUSTERED 
(
	[WorkflowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BaoGia_WorkflowDefinition_Type_Flow] UNIQUE NONCLUSTERED 
(
	[RequestTypeID] ASC,
	[FlowCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_WorkflowDefinitionStep]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_WorkflowDefinitionStep](
	[WorkflowStepID] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowID] [int] NOT NULL,
	[StepID] [int] NOT NULL,
	[StepOrder] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[AllowSkip] [bit] NOT NULL,
	[IsFinalStep] [bit] NOT NULL,
	[CreatedDate] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
 CONSTRAINT [PK_BaoGia_WorkflowDefinitionStep] PRIMARY KEY CLUSTERED 
(
	[WorkflowStepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BaoGia_WorkflowDefinitionStep_Workflow_Order] UNIQUE NONCLUSTERED 
(
	[WorkflowID] ASC,
	[StepOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BaoGia_WorkflowDefinitionStep_Workflow_Step] UNIQUE NONCLUSTERED 
(
	[WorkflowID] ASC,
	[StepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_WorkflowRole]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_WorkflowRole](
	[RoleCode] [varchar](20) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BaoGia_WorkflowRole] PRIMARY KEY CLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_WorkflowStage]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_WorkflowStage](
	[StageID] [int] IDENTITY(1,1) NOT NULL,
	[StageCode] [varchar](50) NOT NULL,
	[StageName] [nvarchar](200) NOT NULL,
	[StageOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BaoGia_WorkflowStage] PRIMARY KEY CLUSTERED 
(
	[StageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BaoGia_WorkflowStage_StageCode] UNIQUE NONCLUSTERED 
(
	[StageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BaoGia_WorkflowStage_StageOrder] UNIQUE NONCLUSTERED 
(
	[StageOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_WorkflowStep]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_WorkflowStep](
	[StepID] [int] IDENTITY(1,1) NOT NULL,
	[StageID] [int] NOT NULL,
	[StepCode] [varchar](100) NOT NULL,
	[StepName] [nvarchar](300) NOT NULL,
	[StepNameEN] [nvarchar](300) NULL,
	[Description] [nvarchar](1000) NULL,
	[DefaultDurationHours] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[StepOrder] [int] NULL,
 CONSTRAINT [PK_BaoGia_WorkflowStep] PRIMARY KEY CLUSTERED 
(
	[StepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_BaoGia_WorkflowStep_StepCode] UNIQUE NONCLUSTERED 
(
	[StepCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_WorkflowStepRole]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_WorkflowStepRole](
	[WorkflowStepID] [int] NOT NULL,
	[RoleCode] [varchar](20) NOT NULL,
	[CanView] [bit] NOT NULL,
	[CanProcess] [bit] NOT NULL,
	[CanApprove] [bit] NOT NULL,
	[CanReject] [bit] NOT NULL,
 CONSTRAINT [PK_BaoGia_WorkflowStepRole] PRIMARY KEY CLUSTERED 
(
	[WorkflowStepID] ASC,
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoGia_WorkflowStepUser]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoGia_WorkflowStepUser](
	[WorkflowStepID] [int] NOT NULL,
	[UserADID] [nvarchar](100) NOT NULL,
	[CanView] [bit] NOT NULL,
	[CanProcess] [bit] NOT NULL,
	[CanApprove] [bit] NOT NULL,
	[CanReject] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_BaoGia_WorkflowStepUser] PRIMARY KEY CLUSTERED 
(
	[WorkflowStepID] ASC,
	[UserADID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[Id_Dept] [int] IDENTITY(1,1) NOT NULL,
	[Cost_Center] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[Name_Jp] [nvarchar](500) NULL,
	[Cost_Center_Group] [nvarchar](500) NULL,
	[Active] [bit] NULL,
	[AcceptRequest] [bit] NULL,
	[CHR_WAREHOUSE] [nvarchar](50) NULL,
	[CHR_Section_Code] [varchar](25) NULL,
 CONSTRAINT [PK_DEPARTMENT_Id_Dept] PRIMARY KEY CLUSTERED 
(
	[Id_Dept] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IM_NCC_NEW]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IM_NCC_NEW](
	[Ncc_Id] [int] IDENTITY(1,1) NOT NULL,
	[Ma] [nvarchar](100) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[Diachi] [nvarchar](max) NULL,
	[Sodienthoai] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Khuvuc] [nvarchar](max) NULL,
	[Ghichu] [nvarchar](max) NULL,
	[Hinhthucmotk] [nvarchar](50) NULL,
	[Dieukienthanhtoan] [nvarchar](50) NULL,
	[Masothue] [nvarchar](50) NULL,
	[Nhanvienkinhdoand] [nvarchar](50) NULL,
	[Nhanvienketoan] [nvarchar](50) NULL,
	[Canphaixacnhanlamthutuchaiquan] [nvarchar](50) NULL,
	[Xoa] [bit] NULL,
	[nhom] [nvarchar](50) NULL,
	[nguoi_cap_nhat] [nvarchar](50) NULL,
	[ShortName] [nvarchar](250) NULL,
 CONSTRAINT [PK_IM_NCC_NEW_1] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[Id_Material] [int] IDENTITY(1,1) NOT NULL,
	[Material_Code] [nvarchar](50) NOT NULL,
	[Material_Name_VN] [nvarchar](2000) NULL,
	[Material_Name_EN] [nvarchar](500) NULL,
	[Material_Name_JP] [nvarchar](500) NULL,
	[Account_Code] [nvarchar](50) NULL,
	[Account_Name_EN] [nvarchar](500) NULL,
	[Account_Name_VN] [nvarchar](500) NULL,
	[Unit] [nvarchar](50) NULL,
	[Unit_Note] [nvarchar](500) NULL,
	[Price] [float] NULL,
	[Currency] [nchar](10) NULL,
	[Group_Code] [nvarchar](50) NULL,
	[GoodKind] [nvarchar](50) NULL,
	[Category_VN] [nvarchar](500) NULL,
	[Category_EN] [nvarchar](500) NULL,
	[Category_JP] [nvarchar](500) NULL,
	[Shape] [nvarchar](2200) NULL,
	[Material] [nvarchar](2200) NULL,
	[Composition] [nvarchar](2200) NULL,
	[Dimension] [nvarchar](2200) NULL,
	[UsedFor] [nvarchar](2200) NULL,
	[Purpose] [nvarchar](2200) NULL,
	[Code_Suppiler] [nvarchar](200) NULL,
	[CHR_MaterialOutSide] [varchar](50) NULL,
 CONSTRAINT [PK_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[Material_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_ACCOUNT]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_ACCOUNT](
	[Id_Account] [int] IDENTITY(1,1) NOT NULL,
	[Account_Code] [nvarchar](50) NOT NULL,
	[Account_Name_EN] [nvarchar](500) NULL,
	[Account_Name_VN] [nvarchar](500) NULL,
	[Account_Name_JP] [nvarchar](500) NULL,
	[Note] [nvarchar](500) NULL,
	[LoaiChiPhi] [nvarchar](50) NULL,
	[Tinhchiphichi] [bit] NULL,
 CONSTRAINT [PK_TM_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[Account_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_AUTHORITY_MENU]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_AUTHORITY_MENU](
	[CHR_USERID] [nvarchar](50) NOT NULL,
	[CHR_CODE_MENU] [nvarchar](50) NOT NULL,
	[INT_NUMBER_POSITION] [int] NULL,
	[CHR_CRT_USERID] [char](8) NULL,
	[DTM_CREATE] [date] NULL,
	[CHR_UPD_USERID] [char](8) NULL,
	[DTM_UPDATE] [date] NULL,
 CONSTRAINT [PK_TM_AUTHORITY_MENU] PRIMARY KEY CLUSTERED 
(
	[CHR_USERID] ASC,
	[CHR_CODE_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_USER]    Script Date: 9/17/2026 5:22:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHR_USERID] [nvarchar](50) NOT NULL,
	[VCHR_PASSWORD] [nvarchar](50) NULL,
	[FULLNAME] [nvarchar](500) NULL,
	[CHR_CRT_USERID] [nvarchar](50) NULL,
	[DTM_CREATE] [datetime] NULL,
	[Lancuoicungdangnhap] [datetime] NULL,
	[CHR_EMPLOYEE_ID] [varchar](8) NOT NULL,
	[CHR_ADID_GROUPUSER] [varchar](50) NULL,
	[DTM_LAST_LOGIN] [datetime] NULL,
	[INT_LOCK] [numeric](18, 0) NULL,
	[INT_LOCK_DAY] [numeric](18, 0) NULL,
	[CHR_SECTION] [varchar](50) NULL,
	[INT_USERID_COMMON] [int] NOT NULL,
	[dia_chi_mail] [nvarchar](50) NULL,
	[phan_quyen] [int] NOT NULL,
	[phong_ban] [nvarchar](50) NULL,
	[thoi_gian_cap_nhat] [datetime] NOT NULL,
	[cho_phep_hoat_dong] [bit] NOT NULL,
 CONSTRAINT [PK_TM_USER] PRIMARY KEY CLUSTERED 
(
	[CHR_USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaoGia_Confirm_Name_Quotation] ADD  DEFAULT (getdate()) FOR [DTM_CreateDate]
GO
ALTER TABLE [dbo].[BaoGia_Confirm_Name_Quotation] ADD  DEFAULT ('Draft') FOR [CHR_Status]
GO
ALTER TABLE [dbo].[BaoGia_Confirm_Name_Quotation_History] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[BaoGia_Detail_of_Quotation] ADD  DEFAULT ((0)) FOR [BIT_Commit]
GO
ALTER TABLE [dbo].[BaoGia_Detail_of_Quotation] ADD  DEFAULT (getdate()) FOR [DTM_CreateDate]
GO
ALTER TABLE [dbo].[BaoGia_Detail_of_Quotation] ADD  DEFAULT ((0)) FOR [BIT_Select]
GO
ALTER TABLE [dbo].[BaoGia_Detail_of_Quotation] ADD  DEFAULT ((0)) FOR [INT_NumberEdit]
GO
ALTER TABLE [dbo].[BaoGia_Detail_of_Quotation] ADD  DEFAULT ((0)) FOR [FL_TaxRate]
GO
ALTER TABLE [dbo].[BaoGia_History_Approver_of_Quotation] ADD  DEFAULT (getdate()) FOR [DTM_UserSendApprover]
GO
ALTER TABLE [dbo].[BaoGia_History_Request_of_Quotation] ADD  DEFAULT (getdate()) FOR [CHR_Updatedate]
GO
ALTER TABLE [dbo].[BaoGia_NCC_Category] ADD  DEFAULT ('Active') FOR [CHR_Status]
GO
ALTER TABLE [dbo].[BaoGia_NCC_Category] ADD  DEFAULT (getdate()) FOR [DTM_CreateBy]
GO
ALTER TABLE [dbo].[BaoGia_Request_of_Quotation] ADD  CONSTRAINT [DF_BaoGia_Request_of_Quotation_BIT_IsTemplate]  DEFAULT ((0)) FOR [BIT_IsTemplate]
GO
ALTER TABLE [dbo].[BaoGia_Request_of_Quotation] ADD  CONSTRAINT [DF_BaoGia_Request_of_Quotation_BIT_LayBaoGia]  DEFAULT ((1)) FOR [BIT_LayBaoGia]
GO
ALTER TABLE [dbo].[BaoGia_Request_of_Quotation] ADD  CONSTRAINT [DF_BaoGia_Request_of_Quotation_DTM_CreateDate]  DEFAULT (getdate()) FOR [DTM_CreateDate]
GO
ALTER TABLE [dbo].[BaoGia_Request_of_Quotation] ADD  CONSTRAINT [DF_BaoGia_Request_of_Quotation_INT_SoLanUpdate]  DEFAULT ((0)) FOR [INT_SoLanUpdate]
GO
ALTER TABLE [dbo].[BaoGia_RoleUser] ADD  CONSTRAINT [DF_BaoGia_RoleUser_IsUsing]  DEFAULT ((1)) FOR [IsUsing]
GO
ALTER TABLE [dbo].[BaoGia_Status] ADD  DEFAULT (getdate()) FOR [DTM_CreateDate]
GO
ALTER TABLE [dbo].[BaoGia_Step] ADD  DEFAULT (getdate()) FOR [DTM_CreateDate]
GO
ALTER TABLE [dbo].[BaoGia_Vender_NotConfirm] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowAudit] ADD  CONSTRAINT [DF_BaoGia_WorkflowAudit_ChangedDate]  DEFAULT (sysdatetime()) FOR [ChangedDate]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinition] ADD  CONSTRAINT [DF_BaoGia_WorkflowDefinition_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinition] ADD  CONSTRAINT [DF_BaoGia_WorkflowDefinition_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep] ADD  CONSTRAINT [DF_BaoGia_WorkflowDefinitionStep_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep] ADD  CONSTRAINT [DF_BaoGia_WorkflowDefinitionStep_IsRequired]  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep] ADD  CONSTRAINT [DF_BaoGia_WorkflowDefinitionStep_AllowSkip]  DEFAULT ((0)) FOR [AllowSkip]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep] ADD  CONSTRAINT [DF_BaoGia_WorkflowDefinitionStep_IsFinalStep]  DEFAULT ((0)) FOR [IsFinalStep]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep] ADD  CONSTRAINT [DF_BaoGia_WorkflowDefinitionStep_CreatedDate]  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowRole] ADD  CONSTRAINT [DF_BaoGia_WorkflowRole_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStage] ADD  CONSTRAINT [DF_BaoGia_WorkflowStage_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStep] ADD  CONSTRAINT [DF_BaoGia_WorkflowStep_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepRole] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepRole_CanView]  DEFAULT ((1)) FOR [CanView]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepRole] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepRole_CanProcess]  DEFAULT ((0)) FOR [CanProcess]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepRole] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepRole_CanApprove]  DEFAULT ((0)) FOR [CanApprove]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepRole] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepRole_CanReject]  DEFAULT ((0)) FOR [CanReject]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepUser] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepUser_CanView]  DEFAULT ((1)) FOR [CanView]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepUser] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepUser_CanProcess]  DEFAULT ((0)) FOR [CanProcess]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepUser] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepUser_CanApprove]  DEFAULT ((0)) FOR [CanApprove]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepUser] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepUser_CanReject]  DEFAULT ((0)) FOR [CanReject]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepUser] ADD  CONSTRAINT [DF_BaoGia_WorkflowStepUser_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TM_USER] ADD  CONSTRAINT [DF_TM_USER_phan_quyen]  DEFAULT ((0)) FOR [phan_quyen]
GO
ALTER TABLE [dbo].[TM_USER] ADD  CONSTRAINT [DF_TM_USER_thoi_gian_cap_nhat]  DEFAULT (getdate()) FOR [thoi_gian_cap_nhat]
GO
ALTER TABLE [dbo].[TM_USER] ADD  CONSTRAINT [DF_TM_USER_cho_phep_hoat_dong]  DEFAULT ((0)) FOR [cho_phep_hoat_dong]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinition]  WITH CHECK ADD  CONSTRAINT [FK_BaoGia_WorkflowDefinition_RequestType] FOREIGN KEY([RequestTypeID])
REFERENCES [dbo].[BaoGia_RequestType] ([ID])
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinition] CHECK CONSTRAINT [FK_BaoGia_WorkflowDefinition_RequestType]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep]  WITH CHECK ADD  CONSTRAINT [FK_BaoGia_WorkflowDefinitionStep_Step] FOREIGN KEY([StepID])
REFERENCES [dbo].[BaoGia_WorkflowStep] ([StepID])
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep] CHECK CONSTRAINT [FK_BaoGia_WorkflowDefinitionStep_Step]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep]  WITH CHECK ADD  CONSTRAINT [FK_BaoGia_WorkflowDefinitionStep_Workflow] FOREIGN KEY([WorkflowID])
REFERENCES [dbo].[BaoGia_WorkflowDefinition] ([WorkflowID])
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep] CHECK CONSTRAINT [FK_BaoGia_WorkflowDefinitionStep_Workflow]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStep]  WITH CHECK ADD  CONSTRAINT [FK_BaoGia_WorkflowStep_Stage] FOREIGN KEY([StageID])
REFERENCES [dbo].[BaoGia_WorkflowStage] ([StageID])
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStep] CHECK CONSTRAINT [FK_BaoGia_WorkflowStep_Stage]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepRole]  WITH CHECK ADD  CONSTRAINT [FK_BaoGia_WorkflowStepRole_Role] FOREIGN KEY([RoleCode])
REFERENCES [dbo].[BaoGia_WorkflowRole] ([RoleCode])
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepRole] CHECK CONSTRAINT [FK_BaoGia_WorkflowStepRole_Role]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepRole]  WITH CHECK ADD  CONSTRAINT [FK_BaoGia_WorkflowStepRole_WorkflowStep] FOREIGN KEY([WorkflowStepID])
REFERENCES [dbo].[BaoGia_WorkflowDefinitionStep] ([WorkflowStepID])
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepRole] CHECK CONSTRAINT [FK_BaoGia_WorkflowStepRole_WorkflowStep]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepUser]  WITH CHECK ADD  CONSTRAINT [FK_BaoGia_WorkflowStepUser_WorkflowStep] FOREIGN KEY([WorkflowStepID])
REFERENCES [dbo].[BaoGia_WorkflowDefinitionStep] ([WorkflowStepID])
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStepUser] CHECK CONSTRAINT [FK_BaoGia_WorkflowStepUser_WorkflowStep]
GO
ALTER TABLE [dbo].[TM_AUTHORITY_MENU]  WITH CHECK ADD  CONSTRAINT [FK_TM_AUTHORITY_MENU_TEMP_TM_USER1] FOREIGN KEY([CHR_USERID])
REFERENCES [dbo].[TM_USER] ([CHR_USERID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TM_AUTHORITY_MENU] CHECK CONSTRAINT [FK_TM_AUTHORITY_MENU_TEMP_TM_USER1]
GO
ALTER TABLE [dbo].[TM_AUTHORITY_MENU]  WITH CHECK ADD  CONSTRAINT [FK_TM_AUTHORITY_MENU_TM_MENU] FOREIGN KEY([CHR_CODE_MENU])
REFERENCES [dbo].[TM_MENU] ([CHR_CODE_MENU])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TM_AUTHORITY_MENU] CHECK CONSTRAINT [FK_TM_AUTHORITY_MENU_TM_MENU]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinition]  WITH CHECK ADD  CONSTRAINT [CK_BaoGia_WorkflowDefinition_FlowCode] CHECK  (([FlowCode]='PUR' OR [FlowCode]='GA'))
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinition] CHECK CONSTRAINT [CK_BaoGia_WorkflowDefinition_FlowCode]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep]  WITH CHECK ADD  CONSTRAINT [CK_BaoGia_WorkflowDefinitionStep_StepOrder] CHECK  (([StepOrder]>(0)))
GO
ALTER TABLE [dbo].[BaoGia_WorkflowDefinitionStep] CHECK CONSTRAINT [CK_BaoGia_WorkflowDefinitionStep_StepOrder]
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStep]  WITH CHECK ADD  CONSTRAINT [CK_BaoGia_WorkflowStep_DefaultDurationHours] CHECK  (([DefaultDurationHours] IS NULL OR [DefaultDurationHours]>=(0)))
GO
ALTER TABLE [dbo].[BaoGia_WorkflowStep] CHECK CONSTRAINT [CK_BaoGia_WorkflowStep_DefaultDurationHours]
GO
